xml/niv.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BIBLE">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BOOK" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ABBR"/>
              <xs:element type="xs:byte" name="BOOK_NO"/>
              <xs:element name="CHAPTER" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="CHAPTER_NO"/>
                    <xs:element name="VERSE" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="CONTENT"/>
                          <xs:element type="xs:short" name="VERSE_NO"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="TESTAMENT"/>
              <xs:element type="xs:string" name="TITLE"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>