xml/union.dtd

<!ELEMENT BIBLE (BOOK+,CHARACTER,VERSION)>
<!ELEMENT VERSION (#PCDATA)>
<!ELEMENT CHARACTER (#PCDATA)>
<!ELEMENT BOOK (ABBR,BOOK_NO,CHAPTER+,TESTAMENT,TITLE)>
<!ELEMENT BOOK_NO (#PCDATA)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT ABBR (#PCDATA)>
<!ELEMENT TESTAMENT (#PCDATA)>
<!ELEMENT CHAPTER (CHAPTER_NO,VERSE+)>
<!ELEMENT CHAPTER_NO (#PCDATA)>
<!ELEMENT VERSE (CONTENT,VERSE_NO)>
<!ELEMENT VERSE_NO (#PCDATA)>
<!ELEMENT CONTENT (#PCDATA)>